body{
    background-color: #e8e8e8;
}
.s_tbdr{
    border: 1px dashed red  ;
}
/* Header Styling */
header{
    min-height: 81px;
    z-index: 1000;
}
.s_l2{
    min-height: 275px;
}
/* MENU Item Styling */
ul> li > a:hover{
    background-color: #EDEDED;
    cursor: pointer;
    border-radius: 5px;
}
.s_submenu{
    width: 100px;
    display: none; /*hide*/
}
.s_menu >li:hover ul{
    display: block; /*show*/
}
.nav-link{
    font-size: small;
}
/* Main Styling height:4016*/
main{
    height: 2000px;
}
.carousel-indicators button{
    width: 6px! important;
    height: 6px! important;
}
.s_mainslider img{
    height: 275px;
    width: 100%;
}
.s_xyz > img{
    transform-origin: right bottom;
    transform: scale3d(1,1,1);
    transition: all linear 0.2s;
}
.s_xyz:hover >img{
    transform: scale3d(1.1,1.1,1);
}
.s_mainslider:hover,.s_xyz:hover{
    cursor: pointer;
}
.s_mainslider .s_ccp,.s_mainslider .s_ccn{
    background-color: rgba(0,0,0,0.8);
    width: 30px;
    height: 30px;
    border-radius: 30px;
    visibility: visible !important;
}
.s_ccp{
    left: 30px!important;
}
.s_ccn{
    right: 30px!important;
}
.s_mainslider:hover .s_ccp,.s_mainslider:hover .s_ccn{
    visibility: visible !important;
}
/* combination Selector */
.s_ccp,.s_ccn{  
    visibility: hidden !important;
}
ul.s_largemain_icons > li > a:hover{
    background-color: white;
}
ul.s_largemain_icons > li > a >img{
    width: 75px;
    height: 75px;
}
ul.s_largemain_icons > li > a:hover > img{
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.05);
}
/* Footer Styling height-1737*/ 
.s_footer1{
    height: 112px;
}
.s_footer2{
    height: 1233px;
}
.s_footer3{
    height: 294px;
}
.s_footer4{
    height: 98px;
}
.s_tnr{
    font-family: 'Times New Roman', Times, serif;
}
.s_search_form{
    position: fixed!important;
    top:0px;
    left:100px;
    z-index:10000;
    background-color: #fff;
    transition: all linear 5s !important;
}

.s_animation{
    animation-name: myAnimation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
.s_scrollToTop{
    animation-name: stp;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
/* FRAMES CSS  */
@keyframes myAnimation{
     0%{
        transform: translateY(0px);
     }
     40%{
        transform: translateY(0px);
     }
     70%{
        transform: translateY(-40px);
     }
     100%{
        transform: translateY(-40px);
     }
}
@keyframes stp {
    from{
        opacity: 0;
        transform: scale(0,0);
    }
    to{
        opacity: 0;
        transform: scale(1,1);
    }
}
/* MEDIA QUERY CSS */
@media screen and (max-width: 576px){
    .s_form_col{
        height: 50px;
    }
    /* Small Screen Footer Styling */
    footer{
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
    }
}
@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1150px;
}
}
